<% provide(:title, 'Edit User') %>
<% @button_text = "Save" %>

<h1>Update your profile</h1>
<div class='row'>
  <div class='span6 offset3'>
    <%= render "user_form" %>

    <%= gravatar_for @user %>
    <%= link_to "Change", "http://gravatar.com/emails", target: "_blank" %>
  </div>
</div>
