<li class="post">
  <span class="content"><%= wrap(micropost.content) %></span>
  <span class="timestamp"><%= micropost.posted_time_in_words %></span>
  <% if micropost.user == current_user %>
    <span><%= render "shared/micropost_delete_link", post: micropost %></span>
  <% end %>
</li>